<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/league.css">
</head>
<body class="bg-secondary bg-opacity-25">
<div class="fondoLolLogueado"></div>
<%- include('partials/navigationLeagueLogged') %>

<div class="d-flex flex flex-md-row align-items-center row g-1 " id="perfil">
    <div id="perfilContainer" class="container hidden">
        <div class="row align-items-center">
            <div class="col-2">
                <img id="img-perfil" class="float-right" src="/static/placeholder.jpg" alt="Img Invocador">
            </div>
            <div class="col-4">
                <h1 id="NombreCuenta" class="align-self-center"></h1>
            </div>
            <div class="col-4">

                    <div class="col d-flex d-inline-flex">
                        <h3 id="rango" class="align-self-center"></h3>
                        <img id="imgRango" src="" alt="imagen rango">
                    </div>

            </div>
            <label for="TagSelector">Añadir a un grupo:</label>
            <input list="tag-list" id="TagSelector" name="TagSelector" >

            <datalist id="tag-list" >

            </datalist>
        </div>
    </div>
</div>
<img src="/static/cargando.gif" alt="" id="cargando" class="hidden">
<div class="sidebar">
    <ul class="sidebarList">
        <li class="">
            <a class=""  href="/league">League of Legends</a>
        </li>
        <li class=" ">
            <a class="" href="/valorant">Valorant</a>
        </li>
        <li class="">
            <a class="" href="/siege">Siege</a>
        </li>

    </ul>
    <div style=""></div>
</div>

<div class="main-content">
    <h1 id="error"></h1>

<div id="tablasLogged">


    <%- include('partials/lateral') %>


    <%- include('partials/lista') %>
</div>

</div>


</body>
<%- include('partials/footer') %>
<script src="../apps/leagueLogged.js"></script>
<%- include('partials/scripts')%>
</html>