<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
<%- include('partials/navigationSiegeLogged') %>
<h1>Siege</h1>
<div id="allStats" class="d-inline-flex">
    <%- include ('partials/statsR6')%>
    <%- include ('partials/statsR6Ranked')%>
    <%- include ('partials/statsR6Casual') %>
</div>

<%- include('partials/footer') %>
</body>
<script src="../apps/siegeLogged.js"></script>
<%- include('partials/scripts') %>
</html>